@page
@model HospiEnCasa.App.Frontend.Pages.Pacientes.Details1Model
@{
}
<h1>Detalle Paciente</h1>
<table class="table table-striped">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.paciente.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Apellidos</th>
        <td>@Model.paciente.Apellidos</td>
    </tr>
    <tr>
        <th scope="col">Telefono</th>
        <td>@Model.paciente.NumeroTelefono</td>
    </tr>
    <tr>
        <th scope="col">Genero</th>
        <td>@Model.paciente.Genero</td>
    </tr>
    <tr>
        <th scope="col">Medico</th>
        @if (Model.paciente.Medico == null)
        {
            <td>
                <a class="btn btn-secondary" asp-page="./AddMedico" asp-route-id="@Model.paciente.Id">Asignar Medico</a>
            </td>
        } else 
        {
            <td>@Model.paciente.Medico.Nombre</td>
        }
    </tr>
    <tr>
        <th scope="col">Signos vitales</th>
        <td>
            <ul>
                @foreach (var signoVital in Model.paciente.SignosVitales)
                {
                    <li>@signoVital.Signo - @signoVital.Valor</li>                    
                }
            </ul>
            <a class="btn btn-primary" asp-page="./AddSignoVital" asp-route-id="@Model.paciente.Id">
                Asignar signo vital
            </a>
        </td>
    </tr>
</table>
<a class="btn btn-secondary" asp-page="./Index1">Volver</a>